@font-face
  font-family: "music-icon"
  src: url('../font/iconfont.eot?t=1503237188892') /* IE9*/
  src: url('../font/iconfont.eot?t=1503237188892#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font/iconfont.woff?t=1503237188892') format('woff'), /* chrome, firefox */
          url('../font/iconfont.ttf?t=1503237188892') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font/iconfont.svg?t=1503237188892#iconfont') format('svg') /* iOS 4.1- */
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family:"music-icon" !important
  font-size:16px
  font-style:normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-back1:before
  content: "\e697"

.icon-category:before
  content: "\e699"

.icon-moreunfold:before 
  content: "\e6a6"

.icon-search:before 
  content: "\e6ac"

.icon-play:before 
  content: "\e61a"

.icon-clear:before 
  content: "\e643"

.icon-playlist:before 
  content: "\e6cb"

.icon-pause:before 
  content: "\e606"

.icon-random:before 
  content: "\e619"

.icon-back:before 
  content: "\e61b"

.icon-sequence:before 
  content: "\e62a"

.icon-prev:before 
  content: "\e635"

.icon-next:before 
  content: "\e636"

.icon-theme:before 
  content: "\e762"

.icon-loop:before 
  content: "\e608"

.icon-delete:before 
  content: "\e625"

.icon-play-mini:before 
  content: "\e8b1"

.icon-pause-mini:before 
  content: "\e66b"

.icon-current:before
  content: "\e602"
