// 颜色定义规范
$color-background-t_ = rgba(217, 11, 1, 0.9)
$color-background-t- = rgba(217, 11, 1, 1)
$color-background-t = rgba(235, 235, 238,1)
$color-background = #f3f3f5
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #fff
$color-dialog-background = #666
$color-theme = rgba(217, 11, 1, 1)
$color-theme-n = rgba(255, 255, 255, 0.9)
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(0, 0, 0, 0.6)
$color-text-d_ = #000
$color-text-d- = #111
$color-text-l_ = rgba(255, 255, 255, 0.6)
$color-text-l = rgba(53, 52, 52, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-tab = rgba(255,255,255,1)
$color-play = rgb(217,11,1)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-search = 25px
$font-theme = 30px